cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pdfminer.six==20211012
Pillow==9.0.0
pycparser==2.21
PyMuPDF==1.19.4
PySimpleGUI==4.56.0
Werkzeug==2.0.2
