<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/search.css" />
    <title>BRF</title>
  </head>
  <body>
    <form method="post" action="/">
      <div class="navbar">
        <img class="navbar-brand" src='static/img/brf-logo.png' />
        <div class="search-container">
          <input class="searchbar" type="text" name="kwrd" placeholder="Pesquisar" />
        </div>
      </div>
    </form>
    {% if results %}
    <div class="container">
      {% for result in results %}
        {% if result["type"] == "text" %}
          <div class="data-box">
            <div class="data-box__text-container">
              {{ result["content"] }}
            </div>
            <div class="data-box__content">
              <p class="source-name">Fonte: {{ result["source"] }}</p>
              <span class="page-ref">Página {{ result["page"] }}</span>
            </div>
          </div>
        {% else %}
          <div class="data-box">
            <div class="data-box__img-container">
              <img class="data-box-img" src="http://placehold.it/200x200" alt=""/>
            </div>
            <div class="data-box__content">
              <p class="source-name">Fonte: {{ result["source"] }}</p>
              <span class="page-ref">Pagina {{ result["page"] }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
